<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title></title>
<link href="../resorce/img/common/favicon.ico" rel="shortcut icon" />
<link href="../resorce/img/common/webclip.png" sizes="144×144" rel="apple-touch-icon" >
<link href="../resorce/css/common.css" rel="stylesheet">
<link href="../resorce/css/pages.css" rel="stylesheet">
</head>

<body id="school_list">

    <div id="container">
        <header>
            <a href="javascript:void(0)" class="mainmenu"></a>
            <h1>スクール一覧</h1>
            <a href="add.html" id="btn_add" class="rightbtn">追加</a>
        </header>
        <main>
            <div id="list"></div>
        </main>
    </div>

    <section id="sidebar">
        <div class="wrapper">
            <div id="profile">
                <dl>
                    <dt></dt>
                    <dd><a href="../member/detail.html">{{ login_name }}<span></span></a></dd>
                </dl>
            </div>
            <div id="mylist">
                <div v-if="school.length">
                    <h2>スクール</h2>
                    <ul v-if="kubun === '1'">
                        <li v-for="sch in school"><a :href="'../school/detail.html?id='+sch.url+''">{{ sch.name }}</a></li>
                        <li class="btn_add"><a href="../school/add.html">スクール追加</a></li>
                    </ul>
                    <ul v-else>
                        <li v-for="sch in school"><a :href="'../lesson/calendar.html?id='+sch.url+''">{{ sch.name }}</a></li>
                    </ul>
                </div>
                <div v-if="student.length">
                    <h2>生徒</h2>
                    <ul>
                        <li v-for="stu in student"><a :href="'../student/detail.html?id='+url+'&student='+stu.student_id+''">{{ stu.lastname }} {{ stu.firstname }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <script src="../resorce/libs/jquery-3.1.1.min.js"></script>
    <script src="../resorce/libs/jquery-ui.min.js"></script>
    <script src="../resorce/libs/jquery.validate.min.js"></script>
    <script src="../resorce/libs/vue.min.js"></script>
    <script src="../js/utility.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="js/list.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137346044-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137346044-2');
    </script>
</body>
</html>
